*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;
    
}

h1{
    color: blue;
    font-size: 120px;
    padding-left: 450px;
    margin-bottom: 100px;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: blue;
    font-size: 100px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.btn button {
    height: 30px;
    width: 80px;
    color: white;
    background-color: blue;
}
