*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    background-color: black;
}

h1{
    background-color: aquamarine;
    padding: 20px 60px;
    border: 2px solid black;
    border-radius: 8px;
    color: white;
}

#details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 140px;
}

#details h1{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px 40px;
    text-align: center;
    /* white-space: normal; */
    word-wrap: break-word;
}

button{
    color: white;
    background-color: red;
    font-size: 15px;
    font-family: monospace;
    height: 40px;
    width: 120px;
    border: none;
    border-radius: 8px;
}

button:active{
    scale: 0.96;
}